*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #dfe2df;
    font-family: 'open sans';
    width: 100%;
    background: url(../razer.jpg);
    align-items: center;
}

.container{
    width: 90%;
    max-width: 900px;

    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla{
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: white;
}

.tabla>h2{
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla{
    width: 64px;
    margin-bottom: 35px;

}

.tabla > h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.tabla >p{
    display: block;
    margin-bottom: 20px;
}

.boton{
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: green;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover{
    background: #343759;
    color: #0a0ab8;
    transition: 0.2 all;
    transform: scale(1.1);
    cursor: pointer;

}